.sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: var(--bg-color-dark-3);
  top: 0;
  right: 0;
  z-index: 3 !important;
  height: 100vh;
  width: 70%;
  max-width: 70%;
  overflow-x: hidden;
  transition: all 0.2s;
  -webkit-box-shadow: -2px 0px 22px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -2px 0px 22px 0px rgba(0,0,0,0.2);
  box-shadow: -2px 0px 22px 0px rgba(0,0,0,0.2);
  -ms-overflow-style: none;
}

.sidebar__container::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  width: 0;
}

.sidebar__overlay {
  width: 30%;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.3;
  transition: all 0.2s 0.2s;
}

.sidebar__hide {
  max-width: 0;
}

.sidebar__button {
  width: 50%;
  margin: 0.8em auto;
  padding: 0.5em;
  min-width: 60px;
  border: 2px solid var(--red);
  background-color: rgba(248, 36, 29, 0.05);
  color: var(--red);
}

.sidebar__hr {
  width: 100%;
  background-color: #000;
  opacity: 0.1;
}

.sidebar__p {
  margin: 2em 0 2em 0;
}

.sidebar__user-list {
  list-style: none;
  text-align: left;
  width: 100%;
  padding: 0 1.5em;
  flex: 1;
  overflow: auto; 
}

.sidebar__user {
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  font-weight: bolder;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}



@media screen and (min-width: 750px) {
  .sidebar__container {
    position: relative;
    width: 30%;
  }

  .sidebar__overlay {
    display: none;
  }
}

@media screen and (min-width: 1023px) {
  .sidebar__container {
    position: relative;
    width: 25%;
  }

  .sidebar__hide {
    max-width: 100%;
  }
}
